@import './base.scss';
@import './modules.scss';
@import './states.scss';
@import'./themes.scss';

body {
    position: relative;
    background-color: $bodyColor;
}

.calculator {
    position: absolute;
    background-color: $frameColor;
    width: 560px;
    height: 780px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 8%);
    border-style: groove;
    border-radius: 30px;

    &__title {
        color: $frameTitleColor;
        margin: 30px auto;
        text-align: center;
        font-family: Orbitron, sans-serif;
        font-size: 18px;
    }
}