
@font-face {
    font-family: DS;
    src: url(../fonts/DS-DIGIB.TTF);
}

@font-face {
    font-family: Orbitron;
    src: url(../assets/fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: RussoOne;
    src: url(../assets/fonts/RussoOne-Regular.ttf);
}

$bodyColor: #c0c0c0;

$frameColor: #ffd700;
$frameTitleColor: #006400;

$displayColor: #4e5754;
$displayCaractersColor: #1e232b;

$lineColor: #000; 
