
@font-face {
    font-family: DS;
    src: url(../fonts/DS-DIGIB.TTF);
}

@font-face {
    font-family: Orbitron;
    src: url(../assets/fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: RussoOne;
    src: url(../assets/fonts/RussoOne-Regular.ttf);
}

$bodyColor: #c0c0c0;

$frameColor: #ffd700;
$frameTitleColor: #006400;

$displayColor: #4e5754;
$displayCaractersColor: #1e232b;

$lineColor: #000;

$boxResetColor: #dc3545;
$boxDelColor: #6f3871;
$boxSignalColor: #ffae39;
$boxNuberColor: #ffe3bb;
$boxEnter: #1a8755;
$boxEqual: #0d6ffd;

